* {
  box-sizing: border-box;
}

body {
  background-color: #1a1a2e;
  font-family: "Poppins", sans-serif;
}

h1 {
  color: black;
  background-color: yellow;
  text-align: center;
  font-size: 40px;
}

.paragraf {
  color: black;
  background-color: white;
  line-height: 1.6;
}

.catatan {
  color: black;
  font-weight: bold;
  background-color: orange;
}

#footer {
  color: black;
  font-style: italic;
  background-color: gray;
  text-align: center;
}

.kartu {
  width: 350px;
  margin: 40px auto 0;
  padding: 24px;
  padding-bottom: 8px;
  background-color: #16213e;
  border: 2px solid yellow;
  border-radius: 16px;
}

.kartu2 {
  margin-top: 0px;
  color: white;
  border-bottom: 4px solid yellow;
}
